@import "tailwindcss";

:root {
  --bg-dark: oklch(0.1 0.045 238);
  --bg: oklch(0.15 0.045 238);
  --bg-light: oklch(0.2 0.045 238);
  --text-dark: oklch(0.76 0.09 238);
  --text: oklch(0.92 0.09 238);
  --text-light: oklch(1 0.09 238);
  --border-dark: oklch(0.3 0.09 238);
  --border: oklch(0.4 0.09 238);
  --border-light: oklch(0.5 0.09 238);
  --highlight: oklch(0.5 0.09 238);
  --primary: oklch(0.76 0.1 238);
  --secondary: oklch(0.76 0.1 58);
  --danger: oklch(0.7 0.09 30);
  --warning: oklch(0.7 0.09 100);
  --success: oklch(0.7 0.09 160);
  --info: oklch(0.7 0.09 260);
}

body.light {
  --bg-dark: oklch(0.92 0.045 238);
  --bg: oklch(0.96 0.045 238);
  --bg-light: oklch(1 0.045 238);
  --text: oklch(0.15 0.09 238);
  --text-muted: oklch(0.4 0.09 238);
  --highlight: oklch(1 0.09 238);
  --border: oklch(0.6 0.09 238);
  --border-muted: oklch(0.7 0.09 238);
  --primary: oklch(0.4 0.1 238);
  --secondary: oklch(0.4 0.1 58);
  --danger: oklch(0.5 0.09 30);
  --warning: oklch(0.5 0.09 100);
  --success: oklch(0.5 0.09 160);
  --info: oklch(0.5 0.09 260);
}